@model IEnumerable<User>

<h2>Список пользователей</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Строковый Id</th>
        <th>Имя</th>
        <th>Email</th>
    </tr>
    @foreach (User user in Model)
    {
        <tr>
            <td>@user.intId</td>
            <td>@user.Id</td>
            <td>@user.NotLoginName</td>
            <td>@user.Email</td>
        </tr>
    }
</table>
