@model ITransitionProject.ViewModels.EditCollectionViewModel

@if (Model.Name == null)
{
    <h2>Коллекция не найдена</h2>
}
else
{
    <h2>Вы можете поменять только имя, краткое описание, и картинку коллекции.</h2>
}

<form role="form" method="post" asp-action="EditCollection">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" name="collectionId" value="@Model.CollectionId" />
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="BriefDesc"></label><br />
        <input asp-for="BriefDesc" />
        <span asp-validation-for="BriefDesc"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImgUrl"></label><br />
        <input asp-for="ImgUrl" />
        <span asp-validation-for="ImgUrl"></span>
    </div>
    <a class="btn" asp-action="EditCollections">Отмена</a>
    <input type="submit" class="btn btn-success" value="Сохранить" />
</form>

@await Html.PartialAsync("_ValidationScriptsPartial")
