@model IEnumerable<Collection>

<form role="form" method="post" asp-action="UserCollection">
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Тема</th>
        </tr>
        @{
            if (Model != null)
                foreach (Collection col in Model)
                {
                    <tr>
                        <td>@col.Name</td>
                        <td>@col.Theme.ToString()</td>
                        @if (!string.IsNullOrEmpty(col.imgUrl))
                        {
                            <td><img src="@col.imgUrl" class="img-fluid" /></td>
                        }
                        else
                        {

                        }                    
                        <td><button class="btn btn-primary" name="ViewCollectionId" value="@col.Id">Просмотреть</button></td>
                    </tr>
                }
        }
    </table>
</form>
