@model IEnumerable<User>

<table class="table">
    <tr>
        <th>Имя</th>
    </tr>
    @{
        foreach (User user in Model)
        {
            <tr>
                <td>@user.NotLoginName</td>
                <td><a asp-action="UserCollections" asp-route-ViewUserIntId="@user.intId" class="btn btn-primary">Просмотреть</a></td>
            </tr>
        }
    }
</table>